<a href="https://colab.research.google.com/github/csr117/BTE-320/blob/main/In_Class_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
h = 10
pi= 3.14
r = 3

Area= (2 * pi * (r**2)) + (2 * pi * r * h)

print(Area)

244.92000000000002

In [ ]:
import random
choice = input("Do you want to play a game? Enter Yes or No ")

while choice == "Yes":
  p1 = input("Rock, Paper, Scissors? ")
  p2 = random.choice(['Rock', 'Paper', 'Scissors'])
  print(f'Computer.chose {p2}.')

  if p1 == p2:
    print("Draw")
  elif p1 == "Rock" and p2 == "Scissors":
    print("User wins!")
  elif p1 == "Paper" and p2 == "Rock":
    print("User wins!")
  elif p1 == "Scissors" and p2 == "Paper":
    print("User wins!")
  else:
    print("Computer wins!")
  choice = input("Do you want to play again? ")
  print('Ok bye!')

Do you want to play a game? Enter Yes or No Yes
Rock, Paper, Scissors? Rock
Computer.chose Paper.
Computer wins!
Do you want to play again? Rock
Ok bye!

In [ ]:
n1 = float(input('Enter a number: '))
n2 = float(input('Enter a second number: '))
symbol = input('Choose operator (+, -, *, /, **): ')

if symbol == '+':
  print(n1+n2)
elif symbol == '-':
  Pint(n1-n2)
elif symbol == '*':
  print(n1*n2)
elif symbol == '/':
  print(n1/n2)
else:2
  print(n1**n2)

Enter a number: 1
Enter a second number: 1
Choose operator (+, -, *, /, **): 2
1.0

In [ ]:
fRate = 5
hRate = 2.5

for hrs in range(1, 9, 1): #Despite it being 8 hrs in parking you need to go above the number
  charge = fRate + hRate*hrs
  if charge<10:
    charge=10.0
  if charge>20:
    charge=20.0
  print(hrs, charge)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
for ad in range(0,201,25):
  additional = 2*round(ad**.5,1)
  profit = (20+additional)*10-200-ad
  print(ad, profit)

0 0.0
25 75.0
50 92.0
75 99.0
100 100.0
125 99.0
150 94.0
175 89.0
200 82.0

In [ ]:
L = []

item = int(input('Give a value: '))

while item != 0:
  L.append(item)
  print(L)
  item = int(input('Give another value: '))

Give a value: 1
[1]
Give another value: 5
[1, 5]
Give another value: 3
[1, 5, 3]
Give another value: 0

In [ ]:
months = {}

names = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[numbers[i]] = names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
months[3]

'Mar'

In [ ]:
number = int(input("Enter a number: "))
low_end = 10
high_end = 50

def range_check(num, low, high):
  if low <= num <= high:
    print(f"{num} is within the range.")
  else:
    print(f"{num} is not within the range")

range_check(number, low_end, high_end)

Enter a number: 75
75 is not within the range

In [ ]:
def calcFee(hours):
  fee = 5+ hours * 2.5
  return fee

hours_parked = int(input('Enter hours for parking: '))
f = calcFee(hours_parked)
print(f)

Enter hours for parking: 4
15.0

In [ ]:
def calcFee(hours):
    fee = 5 + hours * 2.5
    return round(fee, 2)

def displayFee(fee):
    print(fee)

hours_parked = int(input('Enter hours for parking: '))
f = calcFee(hours_parked)
displayFee(f)

Enter hours for parking: 4
15.0

In [ ]:
def rev(h):
  if len(h) == 1:
    return h
  else:
    return h[-1]+rev(h[1:-1])+h[0]

h = input('Enter a Word: ')
reverse = rev(h)
print(reverse)

Enter a Word: pnnje3opjwqldndwq
qwdndlqwjpo3ejnnp

In [ ]:
def wAvg(L, w):
  res = []
  try:
    for i in range(len(L)):
      res.append(L[i] * w[i])
    return sum(res) / sum(w)
  except ZeroDivisionError:
    print('Division by zero.')
    return []
  except TypeError:
    print('Non-numerical objects found.')
    return []
  except Exception as e:
    print(f'Unknown error: {e}')
    return float('nan')


wAvg([1,2,3], [.1,.3,.4])

2.375

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number

  def set_name(self, newname):
    self.name = newname

  def get_name(self):
    return self.name

  def __str__(self):
    return f'Name: {self.name}; Number: {self.number};'

In [ ]:
s1 = Student('James Bond', '007')
s2 = Student('Clark Kent', '333')

In [ ]:
print(s1)

Name: James Bond; Number: 007;

In [ ]:
class Student:
  def __init__(self, name, number):
    self.name = name
    self.number = number
    self.courses = []

  def enroll(self, course):
    if course not in self.courses:
      self.courses.append(course)
    else:
      print('Already enrolled.: {course}')

  def get_courses(self):
    return self.courses

In [ ]:
s = Student('Bob', '123')

In [ ]:
s.enroll('BTE 320')
s.enroll('BTE 720')
s.enroll('BTE 430')

In [ ]:
s.get_courses()

['BTE 320', 'BTE 720', 'BTE 430']